<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>The Popup Wedding Creche</title>
  <meta name="The Popup Wedding Creche" content="Homepage for 'The Popup Wedding Creche'">
  <meta name="Author" content="AWattsDev">


  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  


  <link href="https://fonts.googleapis.com/css2?family=Genos&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">


</head>

<body>


  
  <div id="overlay">
   
    <nav>
      <div class="container nav-container">

        <input class="checkbox" type="checkbox" name="" id="" />
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>      
        
        
        
        <ul class="nav-bar-list">
          <a href="#what-we-do"><li class="col1">Nous faisons</li></a>
          <a href="#meet-us"><li class="col2">Recontrez-Nous</li></a>
          <a href="#reviews"><li class="col3" >Avis</li></a>
          <a href="#faq"><li class="col1" >FAQ</li></a>
          <a href="#gallery"><li class="col2">Gallerie</li></a>
          <a href="#contact"><li class="col3">Contactez-Nous</li></a>


        </ul>
        
        
      </div>
       <aside class="language-toggle">
            <a href="/"><p>Eng</p></a>
            <p> / </p>
            <p>Fr</p>
      </aside>

    </nav>
    
    <section id="splash">
      
      <article>
        <img src="./images/logofirst.png">
        <h1>
            Des professionnels expérimentés de la garde d'enfants pour les mariages, les événements et plus encore...
        </h1>
      </article>
      <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div >

    </section>

    <section id="what-we-do">

      <article class="what-we-do-info">

      
      <h1>Nous Faisons</h1>
      <p>
        Nous sommes des professionnels expérimentés  de la garde d'enfants et nous proposons une crèche pop-up amicale, chaleureuse et de haute qualité pour les petits invités de votre événement.
        Notre objectif est d'offrir aux enfants présents à votre mariage ou à votre événement une expérience amusante et spéciale, permettant aux adultes de se détendre et de profiter pleinement de l'instant présent.  Nous comprenons QUE les enfants et leurs soins sont au centre de tout ce que nous faisons. Laissez-nous vous aider à faire en sorte qu'ils passent, tout comme vous, un moment merveilleux lors de votre journée spéciale ! 
        Nous comprenons que chaque mariage ou événement est unique. Nous offrons une consultation gratuite où nous prenons le temps d'écouter vos besoins et de créer un service sur mesure pour vous.


      </p>
      </article>
      <%- include('./partials/firstscroller') %>
    </section>

    <section id="meet-us">
      <h1>Recontrez-Nous</h1>
      <div class="meet-us-wrapper">
        
        <%- include('./partials/meetus-sinead') %>

        <article class="person">
        
          <div>
            
            <p>
              <img class="meet-us-mini" src="./images/sinead-profile-alt.jpg">
                Sinead est une professionnelle qualifiée de la garde d'enfants qui a 20 ans d'expérience dans divers contextes, notamment en tant qu'assistante maternelle et famille d'accueil. Elle apporte une grande richesse d'expérience, y compris des connaissances approfondies en matière de besoins supplémentaires et de développement des enfants. Elle aime ce qu'elle fait  et les enfants ne cessent de l'étonner. Elle est passionnée par le soutien aux familles. 
                À la crèche pop-up, elle aime passer du temps avec les enfants, s'amuser et faciliter une expérience familiale facile et relaxante. Elle apporte une présence amusante et engageante qui met rapidement les enfants à l'aise.

            </p>

          </div>  
          
        </article>
        <article class="person2">
        
          <div>
            
            <p>
                Harriet est enseignante et psychothérapeute pour enfants qualifiée, accréditée par la British Association for Counselling and Psychotherapy (organisme britannique d'accréditation pour le conseil et la psychothérapie). Elle a des années d'expérience de travail avec les enfants dans une grande variété de contextes, depuis les tout-petits jusqu'aux adolescents. Elle aime accompagner les enfants dans leurs jeux imaginatifs et animer des activités créatives. Elle est toujours là pour encourager et aider les enfants à se sentir capables de participer. Elle est empathique et chaleureuse et aime offrir aux enfants un espace de jeu calme et favorable.
            </p>

          </div>  
        </article> 

        <%- include('./partials/meetus-harriet') %>
        
      </div>
    </section>

    <section id="gallery">
      <%- include('./partials/secondscroller') %>
    </section>

   
    <section id="reviews">
      <div class="reviews-header-wrapper">
        <h1>Avis</h1>
      </div>

      <article class="review review-one">
        <p>"Harriet est chaleureuse, gentille et sensible. Elle sait s'amuser et s'engager activement auprès d'enfants de tous âges en explorant leur créativité et en les aidant à se détendre et à s'amuser. Je n'hésite pas à la recommander comme une personne dont vous pouvez être sûr qu'elle fournira des soins de qualité à vos enfants." </p>
      </article>

      <article class="review review-two">
        <p>"Sinead nous a rejoints pendant un long week-end lors du mariage de ma sœur en France. Elle a eu la charge exclusive de notre fils de 8 mois pendant tout le week-end et a été géniale avec lui - il s'est immédiatement attaché à elle et a été captivé par ses chants, ses histoires et ses jeux. Elle a même apporté des livres et des jouets avec elle ! En tant que demoiselle d'honneur de ma sœur, c'était merveilleux de pouvoir se concentrer sur ce moment spécial et de savoir que notre fils était entre de bonnes mains. Sinead s'est montrée flexible, aimable avec les invités et diligente dans son devoir de garde. Merci encore une fois." </p>
      </article>
      
    </section>

    <section id='faq'>
      <h1> FAQ</h1>
        <div class="faq-wrapper">
          <article class="faq-question one" >
            <h2 class="slide-one">Pourquoi une crèche de mariage </h2>
            <p class="slide-two">Un mariage est un jour spécial pour célébrer votre amour avec ceux que vous aimez. C'est le moment de se laisser aller, de se détendre et de s'amuser après tout le dur labeur de l'organisation. Certaines parties de la journée, bien que magnifiques, peuvent être fatigantes pour les plus petits, et c'est là que nous intervenons. Nous arrivons et créons un environnement magnifique, paisible et amusant pour les enfants de tous âges. Chaque élément est pris en compte : activités, jouets et jeux, vêtements de rechange, couches et collations, endroit douillet pour les histoires et les siestes. Laissez vos invités respirer en sachant que nous avons tout prévu pour leur faciliter la tâche. Vous pouvez vous détendre en sachant que nous avons tout prévu pour vos petits invités.</p>
          </article>

          <article class="faq-question two">
            <h2 class="slide-one">Que pouvons-nous vous proposer</h2>
            <p class="slide-two">Nous sommes heureux de discuter avec vous de la manière dont vous souhaitez que votre journée se déroule et nous pouvons travailler avec vous pour faciliter ce processus. Nous pouvons proposer des crèches pour toute la journée, des crèches pour des jours spécifiques (par exemple pour occuper les petits pendant la cérémonie ou les discours) ou nous pouvons créer des espaces familiaux pour les enfants et les parents afin qu'ils puissent en profiter tout au long de l'événement. Il peut s'agir d'un coin tranquille pour la sieste, l'allaitement ou si les enfants ont besoin de souffler un peu après avoir été trop stimulés. En outre, nous pouvons créer des packs d'activités faits à la main pour les enfants, qui en profiteront tout au long de la journée. À l'approche de la soirée, vous pouvez profiter de nos formules de baby-sitting et de pyjama party. Nous pouvons vous rassurer en nous occupant de vos petits pendant que vous vous préparez pour le grand jour, pendant les dîners de répétition, le jour même et le(s) jour(s) suivant(s). Nous serons ravis de discuter avec vous de ce qui vous conviendrait le mieux.</p>
          </article>

          <article class="faq-question three">
            <h2 class="slide-one">Qu'en est-il des vacances</h2>
            <p class="slide-two">Qu'il s'agisse de vacances spéciales comme une lune de miel ou d'une escapade familiale bien méritée, vous méritez de vous détendre pendant vos vacances et de vous sentir aussi reposé que possible à votre retour. Permettez-nous de vous décharger de la planification et de l'organisation de vos vacances en proposant des activités intéressantes à vos enfants pendant que vous vous détendez. Nous pouvons vous accompagner à chaque étape de votre voyage ou à des moments précis pour vous permettre de passer du temps au bord de la piscine ou de passer une journée entre adultes. Partagez un repas romantique pendant que nous proposons des soirées de détente, du baby-sitting pour les plus petits et des soirées pyjama pour les plus grands.</p>
          </article>

          <article class="faq-question four">
            <h2 class="slide-one">Que dois-je savoir d'autre</h2>
            <p class="slide-two">Nous sommes formés à la protection des enfants et aux premiers secours, nous sommes entièrement assurés et nous avons fait l'objet d'un contrôle extrait de casier judiciare. Lors de la préparation de votre événement, nous prendrons connaissance de vos informations, telles que les allergies et les besoins supplémentaires, afin de nous assurer que nous prenons le plus grand soin de chaque enfant. La crèche pop-up est remplie de beaux jouets, spécialement choisis pour enchanter vos petits. Nous vous demanderons des informations sur l'âge et les centres d'intérêt de vos petits invités, et vous pouvez nous laisser faire le reste, tout ce que nous ferons sera adapté à eux. Nous demandons un minimum de 4 heures par événement et un acompte de 50 % pour réserver votre date, mais cet acompte est entièrement remboursable jusqu'à 14 jours avant la date de l'événement en cas d'annulation. Contactez-nous pour une consultation gratuite et sans obligation afin de discuter de votre forfait sur mesure, nous sommes impatients de vous rencontrer !</p>
          </article>
      </div>

    </section>
    <section id="contact">
      <div class="contact-header">
        <h1>Contactez-Nous</h1>
      </div>
      <div class="social-media">
        <h2>Social</h2>
         <article>
          <a href="https://www.facebook.com/profile.php?id=61550840310626" target="_blank"><img src="images/Facebook_icon-icons.com_66805.png" /></a>
          <a href="https://www.instagram.com/popupweddingcreche/" target="_blank"><img src="images/Instagram_icon-icons.com_66804.png" /></a>
         </article>

      </div>
      <div class="form-wrapper">
        <form id="contactForm" method="post" action="/contact">
          <h2>Écrivez-nous ici</h2>

          
          <input id="name" name="name" type="text" class="inputfield" placeholder="  Nom" required>
          <br>

          
          <input id='telephone' name="telephone" type="tel" class="inputfield" placeholder="  Tel" required>
          <br>

          
          <input id="email" name="email" type="email" class="inputfield" placeholder="  Mail" required>
          <br>

          
          <textarea id="message" class="inputfield" name="message"  cols="50" rows="10" placeholder="  Message" required></textarea>
          <br>

          
        </form>
        <button id=contact-button type="submit" form="contactForm" value="Send">Envoyer</button>

      </div>
      <div id="modal" class="modal">

        <div id='modal-content' class="modal-content">
          <aside class="modal-img">
              <img src="" >
          </aside>
          <p  id="modal-p">
              
          </p>
          <span id='close-modal' class="close-modal">&times;</span>
        </div>
      </div>
      
    </section>


    <footer>
        <%- include('./partials/footerfr') %>
      
    </footer>

   


    
  </div>
</body>

<script src="js/indexHtmlJs.js">
  
</script>
</html>
