<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>The Popup Wedding Creche</title>
  <meta name="The Popup Wedding Creche" content="Homepage for 'The Popup Wedding Creche'">
  <meta name="Author" content="AWattsDev">


  <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
  <link rel="manifest" href="images/favicons/site.webmanifest">

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  


  <link href="https://fonts.googleapis.com/css2?family=Genos&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">


</head>

<body>


  
  <div id="overlay">
    
    <nav>
      <div class="container nav-container">

        <input class="checkbox" type="checkbox" name="" id="" />
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>      
        
        
        
        <ul class="nav-bar-list">
          <a href="#what-we-do"><li class="col1">What we do</li></a>
          <a href="#meet-us"><li class="col2">Meet us</li></a>
          <a href="#reviews-header"><li class="col3" >Reviews</li></a>
          <a href="#faq"><li class="col1" >FAQ</li></a>
          <!-- <a href="#gallery"><li class="col2">Gallery</li></a> -->
          <a href="#contact"><li class="col3">Contact us</li></a>


        </ul>
        
        
      </div>
       <aside class="language-toggle">
            <p>Eng</p>
            <p> / </p>
            <a href="/fr"><p >Fr</p></a>
      </aside>

    </nav>
    
    <section id="splash">
      
      <article>
        <img src="./images/Logo-final-wo.png">
        <h1>
          Experienced childcare professionals for weddings, events and more…
        </h1>
      </article>
      <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div >

    </section>

    <section id="what-we-do">

      <article class="what-we-do-info">

      
      <h1>What we do</h1>

      <aside>
        <img class="blocks" src="./images/blocks-no.png" >
      </aside>  
      
      <p>
        We are experienced childcare professionals offering a friendly, nurturing and high-quality pop-up crèche for the little guests at your event.
          Our focus is to give the children at your wedding, or event, a fun and special experience, allowing the adults to fully relax and enjoy being present in the moment.  
          We understand children, and their care is at the centre of everything we do. Let us help you ensure that they and you have a wonderful time on your special day!
          We understand that every wedding or event is unique. We offer a free consultation where we take the time to listen to your needs and then create a bespoke service just for you. 
        
       
      </p>   
        
          
       
      </article>
      
      </article>
      <%- include('./partials/firstscroller') %>
    </section>

    <section id="meet-us">
      <h1>Meet us</h1>
      <div class="meet-us-wrapper">
        <%- include('./partials/meetus-sinead') %>
            
        <article class="person">
        
          <div>
            
            <p>
              <img class="meet-us-mini" src="./images/sinead-profile-alt.jpg">
              Sinead is a qualified childcare professional with 20 years of experience in a variety of settings including as a childminder and foster carer. 
              She brings a wealth of experience including a depth of knowledge in additional needs support and children’s development. 
              She loves what she does and children never cease to amaze her. She is passionate about supporting families. 
              At the pop-up crèche she loves spending time with children, having fun and facilitating an easy and relaxing family experience. 
              She brings a fun, engaging presence that quickly puts children at ease.

            </p>

          </div>  
          
        </article>
        <article class="person2">
        
          <div>
            
            <p>
              <img class="meet-us-mini" src="./images/harriet-profile-alt.jpg">
              Harriet is a teacher and qualified children’s counsellor accredited with the British Association for Counselling and Psychotherapy. 
              She has years of experience working with children,  from little ones through to teenagers, in a broad variety of settings. 
              She loves joining children in imaginative play and facilitating creative activities. 
              She is always there to encourage and help children feel able to join in. 
              She is empathic and warm and enjoys offering a calm, supportive space for children to play. 
            </p>

          </div>  
        </article> 
        <%- include('./partials/meetus-harriet') %>
      </div>
    </section>

    <section id="gallery">
      <%- include('./partials/secondscroller') %>
      
    </section>
     
    <section id="reviews-header">
      <h1>Reviews</h1>
    </section>
      
   
    <section id="reviews">
      
      <div class="reviews-wrapper">


        <article class="review review-one">
          <p>"Harriet knows how to have fun and is able to actively engage with children of all ages exploring their creativity and helping them relax and enjoy themselves. I have no hesitation in recommending her as someone in whom you can feel confident will provide quality care for your children."  </p>
        </article>

        <article class="review review-two">
          <p>"Sinead joined us over a long weekend at my sister’s wedding in France. She had sole charge of our 8 month old son for the entirety of the weekend and was brilliant with him - he took to her immediately and was enthralled by her singing, stories and games. She even brought books and toys with her! 
            As my sister’s maid of honour, it was wonderful to be able to focus on her special time and know that our son was in good hands. Sinead was flexible, personable with guests and diligent in her duty of care." </p>
        </article>
      </div>
    </section>

    <section id='faq'>
      <h1> FAQ</h1>
        <div class="faq-wrapper">
          <article class="faq-question one" >
            <h2 class="slide-one">Why a wedding crèche?</h2>
            <p class="slide-two">A wedding is a special day to celebrate your love with those you love. It’s a time to let your hair down, relax and enjoy yourself after all the hard work that has gone into the planning. Some parts of the day, although beautiful, can feel tiring for little ones- that’s where we come in. We arrive and create a beautiful, peaceful and fun environment for children of all ages to enjoy. Every element is thought about, from activities, toys and games, to a cosy place for story times and naps, let your guests take a breath knowing we’ve got it all covered to make their day easier. You can relax knowing that when it comes to your little guests, we have it all in hand.</p>
          </article>

          <article class="faq-question two">
            <h2 class="slide-one">What can we offer?</h2>
            <p class="slide-two">We are happy to discuss how you’d like your day to flow and can work with you to facilitate this. We can offer full day crèches, crèches at specific days (for example to keep little ones occupied during the ceremony or speeches) or we can create drop-in family spaces for children and parents alike to enjoy and make use of throughout your event. This can offer a quiet corner for nap times, breastfeeding or if children need a breather if overstimulated. In addition, we can create hand-made activity packs for children to enjoy throughout the day. As the evening draws in you may want to make use of our babysitting and pyjama party packages. We can give you peace of mind by being there to look after your little ones as you get ready for the big day, throughout rehearsal dinners, on the day itself and in the day(s) that follow. We are happy to discuss what would best suit you.</p>
          </article>

          <article class="faq-question three">
            <div>
              <h2 class="slide-one">What about holidays?</h2>
              <p class="slide-two">Whether a special holiday like a honeymoon or a much-needed family getaway you deserve to switch off while on holiday and feel as rested as possible after you return. Allow us to take the planning and organisation out of your holiday by offering engaging activities to your children while you relax. We can accompany you on every step of your trip or at specific moments to allow you time by the pool or a day out as adults. Share a romantic meal while we offer evening wind-downs, baby-sitting for little ones and pyjama parties for bigger ones.</p>
            </div>
            <aside>
              <img class="bunny-good" src="./images/bunny-good.png">
            </aside>
            
          </article>

          <article class="faq-question four">
            <h2 class="slide-one">What else do I need to know?</h2>
            <p class="slide-two">We are safeguarding and first aid trained and are fully insured, and DBS checked. In planning for your event, we will take information from you such as allergies and additional needs to ensure that we take the best care of each child. The pop-up crèche is full of beautiful toys, specially chosen to enchant your little ones. We will take information from you about the age and interests of your little guests, and you can leave the rest to us, everything we do will be tailored to them. We request a minimum booking of 4 hours per event and a 50% deposit in order to reserve your date. Contact us for a free, no obligation consultation to discuss your bespoke package, we look forward to meeting you!</p>
          </article>
      </div>

    </section>
    <section id="contact">
      <div class="contact-header">
        <h1>Contact & social media</h1>
      </div>
      <div class="social-media">
        <h2>Social media</h2>
         <article>
          <a href="https://www.facebook.com/profile.php?id=61550840310626" target="_blank"><img src="images/Facebook_icon-icons.com_66805.png" /></a>
          <a href="https://www.instagram.com/popupweddingcreche/" target="_blank"><img src="images/Instagram_icon-icons.com_66804.png" /></a>
         </article>

      </div>
      <div class="form-wrapper">
        <form id="contactForm" method="post" action="/contact">
          <h2>To contact us, please use the form below:</h2>

          
          <input id="name" name="name" type="text" class="inputfield" placeholder="  Name" required>
          <br>

          
          <input id='telephone' name="telephone" type="tel" class="inputfield" placeholder="  Telephone" required>
          <br>

          
          <input id="email" name="email" type="email" class="inputfield" placeholder="  Email" required>
          <br>

          
          <textarea id="message" class="inputfield" name="message"  cols="50" rows="10" placeholder="  Message" required></textarea>
          <br>

          
        </form>
        <button id=contact-button type="submit" form="contactForm" value="Send">Submit</button>

      </div>
      <div id="modal" class="modal">

        <div id='modal-content' class="modal-content">
          <aside class="modal-img">
              <img src="" >
          </aside>
          <p  id="modal-p">
              
          </p>
          <span id='close-modal' class="close-modal">&times;</span>
        </div>
      </div>
      
    </section>


    <footer>
        <%- include('./partials/footer') %>
      
    </footer>

   


    
  </div>
</body>

<script src="js/indexHtmlJs.js">
  
</script>
</html>
